.breadcrumb {

    &_container {
        padding: 4rem 0 4rem 4rem;
        width: 100%;
    }

    &_list {
    
        
        li {
            display: inline-block;
        }
    }

    &_separator {
        white-space: pre;
    }







}