*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Futura', 'sans-serif';
    font-size: 1.25rem;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

h1 {
    font-family: 'Futura', 'sans-serif';
}

p {
    line-height: 1.6;
}