.main-navigation {
    width: 100%;
    background-color: $base-color;
    position: relative;
   z-index: 1;

    &_logo_image {
        height: 50px;
        margin: 0 1rem;
    }

    & .menu-primary-container {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

}

.navigation {

    position: relative;

    &_top-bar {
        float: left;
        margin-left: 1em;
        height: 100%;
        width: 100%;

        & .menu-item {
            position: relative;
            float: left;
            list-style-type: none;
            display: block;
            width: 25%;
            height: 100%;
            padding-top: .5rem;
            text-align: center;
            
        }

        &  > li > a {
            position: relative;
            text-decoration: none;
            height: 100%;
            width: 100%;
            padding: 0;
            padding-bottom: .255em;
            color: $black;
        }

        & > li > a:after {
            content: '';
            width: 0;
            position: absolute;
            display: block;
            height: 3px;
            bottom: 0;
            right: 0;
            background: $black;
            transition: width .8s ease;
        }

        & > li > a:hover:after {
            width: 100%;
            left: 0;
            background: #000;
           
        }

        & .menu-item .active-link {
            background-color: $complement-color;
        }

    }

    &_drop-nav{
        display: none;
        right: auto;
        width: 20vw;
        left: 0;
        background-color: $complement-color;
        transition-property: all;
	    transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        position: relative;
        margin-top: .6rem;
        z-index: 1000;

        & .menu-item {
            width: 100%;
            padding: 1rem 0 .5rem 1rem;
            display: inline-block;
            text-align: center;

            a {
                width: 100%;
                color: $black;
            }
            
        }

        & .menu-item:last-child {
            padding-bottom: 1rem;
        }

        a:hover {
            text-decoration: underline;

        } 
    }

    &_login {
        position: absolute;
        padding: 0 1em;
        right: 0;
        top: 0;
        height: 100%;
        background-color: $black;
        color: $base-color;
        cursor: pointer;
    }

}
.is-open {
    bottom: 0;
    display: block;

    

    & .menu-item {
        display: block;
        width: 100%;
        text-align: left;
    }

}
.is-active {
    background-color: $complement-color;
}

@media only screen and (max-width: 1000px ) {
    .main-navigation .menu-primary-container {
        width: 100%;
        left: 50%;
    }

    .navigation_top-bar {
        margin-left: 3em;
    }
    
    .navigation_top-bar .menu-item {
        width: 20%;
    }


}

@media only screen and (max-width: 768px ) {
    nav {
        ul {
            display: none;
        }
    }
    .navigation_login {
        display: none;
    }
    #nav-toggle {
        position: absolute;
        right: 22px;
        top: 22px;
        cursor: pointer;
        padding: 2px 35px 16px 0px;
        span,
        span:before,
        span:after {
          cursor: pointer;
          border-radius: 1px;
          height: 5px;
          width: 35px;
          background: $black;
          position: absolute;
          display: block;
          content: '';
          transition: all 300ms ease-in-out;
        }
        span:before {
          top: -10px;
        }
        span:after {
          bottom: -10px;
        }
        &.active span {
          background-color: transparent;
          &:before,
          &:after {
            top: 0;
          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    
}