.product_cards {


    &_section {
        padding: 2.5rem 0;
    }

    &_headline {
        text-align: center;
    }

  

    &_card_container {
        padding: 2rem 0;
    }
    
    &_card {
        background-color: #FFF;
        padding: 3rem;
        margin: 0 3rem;
        box-shadow: 0 2px 21px 0 rgba(0,0,0,.05);
        border-radius: 5px;
    }
    
    &_card_title {
        text-align:center;
    }

    &_card_price {
        display: block;
        width: 100%;
        text-align: center;
    }

    &_image_container {

        img {
            display: block;
            margin: 0 auto;
        }
    }


}