/*
*
* Varibales to be used throughout the scss
*
*/

//Colors===============
$base-color: #f7f7f7;
$complement-color: darken($base-color, 10%);
$black: #000;
$green: #2db82d;


$main-text: #fff;
$full-height: 100%;
$full-width: 100%;